
img{
 height: 700px;
}

body{
  background-color: white;
}

.slider{
  top:0 auto;
  width: 100%;
  height: 10%;
  padding: 0;
  overflow: hidden;
}

.slider-conteiner{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-conteiner input{
  display: none;
}


.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slide-box img{
  width: 100%;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: solid 1px rgb(255, 255, 255);
  padding:5px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

/*.nav-manual .manual-btn:not(:last-child){
  margin-right: 10px;
}*/

.nav-manual .manual-btn:hover{
  background-color: rgb(151, 137, 137);
}

#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: rgb(106, 102, 102);
}

#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: rgb(106, 102, 102);
}

#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: rgb(106, 102, 102);
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}


.mapouter{
  position: relative;
  top: 50px;
  transform: translate(8%)
}

.texto{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.texto h1{
  margin: 20px;
}

.texto .f{
 color:#ff3131;
 margin: 20px;
 
}

iframe{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

